h1, p {
  font-family: Lato;
}
.MuiPaper-root.card.skill-card {
    background: #ffc000;
    color: #222;
    transition: 0.6s
}
.MuiPaper-root.card.skill-card {
    background: #ffffff;

}

.CircularProgressbar .CircularProgressbar-path {
    stroke: #222;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #fff;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: #222;
}
